trigger:
  - main

variables:
  # Replace with your ACR name from Step 2
  azureContainerRegistry: "acrshrinet82prod.azurecr.io"
  imageRepository: "devsecops-sample-app"
  dockerfilePath: "app/Dockerfile"
  tag: "$(Build.BuildId)"
  # The Service Connection name from Step 1
  azureServiceConnection: "Az-ZeroTrust-Svc"

stages:
  - stage: BuildAndSecurityScan
    displayName: "CI Stage: Build and Scan"
    jobs:
      - job: Build
        pool:
          vmImage: "ubuntu-latest"
        steps:
          - task: Docker@2
            displayName: "Build Docker Image"
            inputs:
              command: "build"
              repository: $(imageRepository)
              dockerfile: $(dockerfilePath)
              containerRegistry: $(azureServiceConnection)
              tags: |
                $(tag)
                latest

          # STRICT: Vulnerability Scan before pushing to Registry
          - script: |
              curl -sfL https://raw.githubusercontent.com/aquasecurity/trivy/main/contrib/install.sh | sh -s -- -b .
              ./trivy image --exit-code 1 --severity HIGH,CRITICAL $(azureContainerRegistry)/$(imageRepository):$(tag)
            displayName: "Trivy Security Scan (Fail on High/Critical)"

          # Only push if the security scan passes
          - task: Docker@2
            displayName: "Push to ACR"
            inputs:
              command: "push"
              repository: $(imageRepository)
              containerRegistry: $(azureServiceConnection)
              tags: |
                $(tag)
                latest
