apiVersion: secrets-store.csi.x-k8s.io/v1
kind: SecretProviderClass
metadata:
  name: azure-kvname-user-msi
spec:
  provider: azure
  parameters:
    usePodIdentity: "false"
    useVMManagedIdentity: "true" # Uses the AKS user-assigned identity
    userAssignedIdentityID: "e5f6b34f-4eee-47e7-ac12-e545071c3619" # Kubelet Identity Client ID
    # WAIT: Workload Identity is preferred.
    # But enabling the addon usually links the kubelet identity.
    # Let's check `az aks show` output later. For now, use simple config.
    keyvaultName: "kvshrinet82prod"
    cloudName: ""
    objects: |
      array:
        - |
          objectName: AppApiKey
          objectType: secret
          objectVersion: ""
    tenantId: "0cd5a9c5-e95c-49b1-aa42-e56c1fdfeab9"
